{%extends 'base.html'%}
{%load static%}


{%block contents%}

<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
        <h2>Admin Login Form</h2>
        <p>
            <form action="/adminloginentered/" method="POST">
                                 {% csrf_token %}
                                <table><tr><td style="color:blue">
                                <input  type="text" name="uname" placeholder="admin Login" ><br/><br/>
<!--                                    <input type="email" name="email" class="form-control"  placeholder="Email">-->
                                 <input  type="password" name="upasswd" placeholder="Password" ><br/><br/>
                                    </td></tr></table> <input type="submit" style="color:#FF4500" value="submit"><br/>
                            </form> </h3>
                            {% if messages %}
                                {% for message in messages %}
                                    <font color='darkred'> {{ message }}</font>
                                {% endfor %}
                            {% endif %}
        </p>
      <div class="floater">

      </div>
    </div>

  </div>
</div>
{%endblock%}
