{%extends 'adminbase.html'%}
{%load static%}


{%block contents%}

<div class="wrapper col2">
  <div id="featured_slide">
    <div class="featured_box">
        <h2></h2>
        <p>
           Welcome admin page...
            <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <center>
            <table>
                <tr><td> File<input type="file" name="file" value="file"><br><br><br></td></tr>
                <tr><td><button type="submit" >Save</button></tr></td>
            </table>
        </center>
</form>


        </p>
      <div class="floater">
        <h2></h2>
        <p></p>

      </div>
    </div>

  </div>
</div>
{%endblock%}
